@charset "UTF-8";

body {
    background: #edf0f1;
    /* padding-top: 80px; */
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}


header {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 80px;
    background-color: #b582b5;
    position:relative;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
}

header input {
    width: 100%;
    height: 50px;
    float: left;
    font-size: 15px;
    font-weight: 400;
    text-indent: 15px;
    padding-right: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;

}
header input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.70);
}
header input::-moz-input-placeholder {
    color: rgba(255,255,255,0.70);
}
header input:moz-input-placeholder {
    color: rgba(255,255,255,0.70);
}
header input:ms-input-placeholder {
    color: rgba(255,255,255,0.70);
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
}

header button svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
header button svg .fill {
    fill: #25bebb;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.container ul.todo {
    width: 100%;
    float: left;

}
.container ul.todo li {
    width: 100%;
    max-width: 800px;
    min-height: 50px;
    float: left;
    background: #fff;
    border-radius: 5px;
    box-shadow:
    0 6.5px 5px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    padding: 14px 100px 14px 14px;

}

.container ul.todo li:last-of-type {
    margin: 0;
}

.container ul.todo li .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;

}
.container ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    box-shadow: none;
    appearance: none;
    outline:none;
    border: 0px;
    position: relative;
    cursor: pointer;
}

.container ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #edf0f1;
}

.container ul.todo li .buttons button svg {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}
.container ul.todo li .buttons button svg .fill {
    transition: fill 0.2s ease;
} 

.container ul.todo li .buttons button.remove svg .fill {
    fill: #C0CECB;
} 
.container ul.todo li .buttons button.remove:hover svg .fill {
    fill:#e85656;
}
.container ul.todo li .buttons button.complete svg {
    border-radius: 15px;
    border: 1.5px solid #25bebb;
    transition: 0.2s ease;
}

.container ul.todo li .buttons button.complete svg .fill {
    fill: #25bebb;
}
.container ul.todo li .buttons button.complete svg .noFill {
    fill: none;
}
.container ul.todo li .buttons button.complete:hover svg {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -13px;
}

/* Complete clicked */
.container ul.todo li .buttons button.complete.done svg {
    border-radius: 15px;
    border: 1.5px solid #fff;
    background-color: #25bebb;
    transition: 00.2s ease-out;
}
.container ul.todo li .buttons button.complete.done svg .fill {
    fill: #fff;
}

ul.todo#completed:not(:empty) {
    padding-top: 60px;
    opacity: 0.6;
    position: relative;
}
ul.todo#completed:not(:empty)::before{
    content: '';
    width: 150px;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
    
}